* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, p {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

h1.header {
    font-size: 150px;
}

h3.header {
    font-size: 50px;
}

p {
    font-size: 20px;
}

body {
    margin: 0;
    background-color: #f9fcfe;

}

#menu > ul > li {
    display: inline-block;
    margin: 1%;
}

ul.menu {
    text-align: right;
}

a.menulink {
    text-decoration: none;
    color: black;
}

header {
    background-image: url(img/header-background.jpg);
    background-size: cover;
    color: white;
    width: 100%;
    height: 100%;
    text-align: center;
    background-position: center;
}

header > div {
    padding: 10%;
}

nav {
    margin-bottom: 10%;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 1;
}



img#nowak {
    float: left;
    height: 25%;
    width: 25%;
    margin-left: 10%;
    margin-right: 10%;
    border: 8px solid white;
    border-radius: 10px;
}


span,
a.maillink {
    color: #1ac056;
}

#about {
    text-align: center;
    margin-top: 5%;
}

.about {
    margin-left: 10%;
    margin-right: 3%;
    margin-top: 3%;
}

#skills {
    margin-top: 30%;
    text-align: center;
}

h2#skills:last-child {
    clear: both;
}

.skills {
    text-align: center;
    margin-bottom: 14%;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 3%;
}

.icons {
    padding: 5%;
    margin: 20%;
}

figure {
    display: inline-block;
}

h2 {
    text-align: center;
    font-size: 40px;
}

hr {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
    margin-bottom: 3%;
}

.container:hover .overlay {
    opacity: 1;
}

.container {
    position: relative;
    display: inline-block;
    width: 33.3333333%;
    font-size: 16px;
}

.pimage {
    display: inline-block;
    width: 100%;
}


.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .5s ease;
    height: 100%;
    width: 100%;
    background-color: rgba(53, 73, 181, 0.5);
    padding: 3%;
    overflow: auto;
}

.text {
    color: white;
    text-align: center;
    width: auto;
    height: 100%;
    border: 2px solid white;
}

.text2 {
    padding-top: 10%;
}

div.text2>h2 {
    font-weight:bold;
    margin-bottom: 2%;
}

div.text2>p {
    margin-bottom: 2%;
}

.porticons {
    margin-top: 1%;
}
div.overlay>h2 {
    color: white;
}

.space {
    font-size: 0;
    margin-left: 5%;
    margin-right: 5%;
}

#portfolio {
    margin: 3%;
}

section {
    background-color: #213b50;
    margin-top: 5%;
}

form {
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 10%;
    padding: 5%;
    text-align: right;
}

input,
textarea {
    background-color: #2b4a64;
    border: #ffffff;
    color: white;
    width: 50%;
    margin: 1%;
    padding: 1%;
}

input:focus,
textarea:focus {
    background-color: #4e708c;
    border: #ffffff;
}


input[type=submit] {
    background-color: green;
    width: 5%;
}

.address {
    float: left;
    color: white;
    width: 47%;
    padding-top: 7%;
    padding-left: 7%;
}



.media {
    display: inline-block;
    padding: 1%;
    font-size: 30px;
    color: white;
    width: 70%;
    height: 100%;
    
}

.fa {
    border: 1px solid white;
    width: 45px;
    height: 45px;
    padding: 1%;
    margin-top: 40%;
    margin-left: 10%;
    
}


footer {
    background-color: rgb(28, 57, 103);
}

footer > p {
    margin-left: 3%;
    color: white;
}

#kontakt {
    color: white;
    font-size: 40px;
}
