@media (min-width:992px) {
    div.form-holder {
        margin-left: 60%;
    }
}

@media (min-width:768px) and (max-width:992px) {
    div.form-holder {
        margin-left: 50%;
    }
}

@media (max-width:768px) {
    div.form-holder {
        margin-left: 20%
    }

@media (max-width:480px) {
        div.form-holder {
            margin-left: 10%;
        }
    }
