html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
    height: 100%;
}

.parent {
    background-color: blue;
    width: 200vh;
    height: 100vh;
    font-size: 16px;
}


.top {
    width: 200vh;
    height: 50%;
    background-color: red;
    animation-name: curtain-top;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-direction: alternate;
}

@keyframes curtain-top {
    0% {
        height: 0;
        position: absolute;
    }
    100% {
        height: 50%;
        position: absolute;
    }
    
}

.bottom {
    width: 200vh;
    height: 50%;
    background-color: green;
    animation-name: curtain-bottom;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-direction: alternate;
}

@keyframes curtain-bottom {
    0% {
        height: 0;
        bottom: 0;
        position: absolute;
    }
    100% {
        height: 50%;
        bottom: 0;
        position: absolute;
    }
    
}

